@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    z-index: -1;
    background-image: url(../img/img-bg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 140%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

a {
    text-decoration: none;
}

/* Presentacion section */

/* Estilos CSS */
.bannerSection {
    position: relative;
    width: 100%;
    display: flex;
    margin:auto;
}

.banner {
    filter: brightness(0.4);
    width: 100%;
    height: auto;
}

.bannerText {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.textContainer {
    margin-bottom: 2vh;
    /* Ajusta según sea necesario */
    margin-right: 22vw;
    /* Ajusta según sea necesario */

}

.lemaText {
    color: rgb(252, 252, 252);
    font-weight: 500;
    opacity: 0.8;
    font-size: 3vw;
    font-family: 'Lucida Handwriting';
    margin: 0;
}

.imageContainer {
    margin-top: 2vh;
    /* Ajusta según sea necesario */
    margin-left: 2vw;
    /* Ajusta según sea necesario */
}

.logo {
    width: 13vw;
    max-width: 100%;
}

/* Media query para ajustes específicos de dispositivos móviles */
@media (max-width: 768px) {

    .textContainer,
    .imageContainer {
        margin: 0;
    }

    .lemaText {
        font-size: 5vw;
        /* Ajusta según sea necesario */
    }

    .logo {
        width: 15vw;
    }
}



/* Plantilla section */

.squadSection {
    width: 90%;
    margin: auto;
}

.squadTitle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.playerCardDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.playerCard {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    width: 300px;
    display: flex;
    margin-bottom: 20px;
}

.playerLeft {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.playerNumberBack {
    font-size: 60px;
    opacity: 0.2;
    top: 10px;
    left: 15px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
}

.playerImage {
    width: 100px;
}

.playerRight {
    width: 100%;
    margin: auto;
    margin-left: 10px;
}

.playerName {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
}

.playerNum {
    margin: 0px;
    margin-bottom: 2px;
}

.playerAge {
    margin: 0px;
    margin-bottom: 2px;
}

.playerPosition {
    margin: 0px;
}

/* Estadio section */
.stadiumSection {
    width: 100%;
}

.stadiumTitle {
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans';
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 20px;
    /* Ajusta este valor según sea necesario */
    transform: translateX(-50%);
    width: 100%;
}

.upperTitle {
    display: block;
    font-size: 35px;
    /* Ajusta el tamaño según sea necesario */
    font-weight: 400;

}


.stadium {
    width: 100%;
    margin-top: 5px;
}

.stadiumImg {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.stadiumImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: saturate(150%) brightness(0.7);
}

.stadiumIframe {
    width: 100%;
    height: 300px;
}


.stadiumText {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 900;
    width: 90%;
    bottom: 10%;
    margin-right: 5%;
    font-family: 'Gill Sans'
}

.trophyDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trophy {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    height: auto;
    width: 300px;
    margin-bottom: 20px;
}

.trophyImage {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.trophyBottom {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trophyName {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
}

.trophyAge {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
}

.trophyTop {
    display: flex;
    justify-content: flex-start;
}

.trophyTittle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

/* Noticias */

.noticiasTittle {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.postsDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.instagramPost, .twitterPost {
    margin: 2%;
}

@media (max-width: 850px) {
    .stadiumText {
        position: absolute;
        color: white;
        font-size: medium;
        font-weight: 900;
        width: 90%;
        bottom: 10%;
        margin-right: 5%;
    }
}

section{
    margin-top: 2%;
}